In [34]:
import pandas as pd
import json


file_path = "C:\\Users\\btsonkov\\Git Repo\\feb24_project_job-market\\data\\processed\\raw_sample_data\\okjob_raw.json"
   
keys_to_keep = ['Company-Name', 'Job-Title', 'Location', 'Region', 'Job-Type', 'Job-Tags', 'Job-Category', 'Hours', 'Salary-Min', 'Salary-Max']

with open(file_path, "r", encoding="utf-8") as file:
    loaded_json = json.load(file)

df_okjob_filtered = pd.DataFrame(loaded_json['values'][1:], columns=loaded_json['values'][0])

df_okjob_filtered.head()

,Company-ID,LinkedIn-Job-Link,Company-Name,Job-Title,Location,Job-Description,Apply-Link,Region,Job-Type,Job-Tags,Job-Category,Hours,Salary-Min,Salary-Max
0,1810,https://www.linkedin.com/jobs/view/strategic-a...,Signifyd,Strategic Account Executive,USA,<h2>Job Description: Strategic Accounts Accoun...,https://www.linkedin.com/jobs/view/3762391942/,North America,"Remote,100% Salary, Four Days","eCommerce, SaaS, RiskManagement, SalesStrategy...","Sales & Account Management, Business Development",32,160000,185000
1,1807,https://uk.linkedin.com/jobs/view/account-exec...,Awin Global,Account Executive,"London Area, United Kingdom",<h2>Job Purpose</h2>\n\n<p>This is a fantastic...,https://www.linkedin.com/jobs/view/3752826420/,Europe,"Remote, 100% Salary, Four Days","Affiliate Marketing, Excel, PowerPoint, Accoun...","Sales & Account Management, Marketing",32,\n,\n
2,1759,https://www.linkedin.com/jobs/view/senior-cont...,Close,Senior Content Marketer,United States,<h2>About Us</h2>\n\n<p>Close is a bootstrappe...,https://www.linkedin.com/jobs/view/3763374907/,North America,"Remote, 100% Salary, Four Days","SEO, Content Marketing, CMS, B2B SaaS, Copywri...","Marketing, Writing",32,None,None
3,1759,https://www.linkedin.com/jobs/view/senior-or-s...,Close,Senior or Staff Software Engineer - Backend/Py...,United States,<h2>We are looking for US-based Senior and Sta...,https://www.linkedin.com/jobs/view/3602557784/,North America,"Remote, 100% Salary, Four Days","Python, MongoDB, PostgreSQL, Elasticsearch, AWS","Engineering, Data & Analytics",32,140000,200000
4,1807,https://de.linkedin.com/jobs/view/accountant-g...,Awin Global,Accountant General Ledger / Bilanzbuchhalter,"Berlin, Germany",<h2>Purpose of Position</h2>\n<p>In this role ...,https://www.linkedin.com/jobs/view/3747055388/,Europe,"Hybrid, 100% Salary, Four Days","IFRS, HGB, MicrosoftD365, Excel, PowerBI","Accounting & Finance, Data & Analytics",32,None,None

In [35]:
# Alternative file loading as per the folder structure in branch "main"

file_path_processed = "C:\\Users\\btsonkov\\Git Repo\\feb24_project_job-market\\data\\processed\\okjob.io\\okjob_proc.merged.2024-03-18 12_20_00.json"

with open(file_path_processed, "r", encoding="utf-8") as file:
    loaded_json_prced = json.load(file)

df_okjob_test = pd.DataFrame(loaded_json_prced) # Update the dataframe name to df_okjob_filtered if this is the new source

df_okjob_test.head() # optional row - df name change

,Company-ID,LinkedIn-Job-Link,Company-Name,Job-Title,Location,Job-Description,Apply-Link,Region,Job-Type,Job-Tags,Job-Category,Hours,Salary-Min,Salary-Max,id
0,1810,https://www.linkedin.com/jobs/view/strategic-a...,Signifyd,Strategic Account Executive,USA,/home/ubuntu/project/feb24_project_job-market/...,https://www.linkedin.com/jobs/view/3762391942/,North America,"Remote,100% Salary, Four Days","eCommerce, SaaS, RiskManagement, SalesStrategy...","Sales & Account Management, Business Development",32,160000,185000,3762391942
1,1759,https://www.linkedin.com/jobs/view/senior-or-s...,Close,Senior or Staff Software Engineer - Backend/Py...,United States,/home/ubuntu/project/feb24_project_job-market/...,https://www.linkedin.com/jobs/view/3602557784/,North America,"Remote, 100% Salary, Four Days","Python, MongoDB, PostgreSQL, Elasticsearch, AWS","Engineering, Data & Analytics",32,140000,200000,3602557784
2,3674,https://www.linkedin.com/jobs/view/client-serv...,"Digible, Inc",Client Services Manager,"Denver, CO",/home/ubuntu/project/feb24_project_job-market/...,https://digible.com/why-digible/current-openin...,North America,"Hybrid, 100% Salary, Four Days","SEO, PPC, Analytics, CRM, Account-Management","Marketing, Customer Support",32,75000,95000,3760353629
3,3678,https://ca.linkedin.com/jobs/view/staff-front-...,Procurify,Staff Front End Engineer,"Vancouver, BC",/home/ubuntu/project/feb24_project_job-market/...,https://boards.greenhouse.io/procurify/jobs/43...,North America,"Remote, Four Days, 100% Salary","React, Typescript, CSS, Python/Django, Kubernetes",Engineering,32,146000,218000,3768874380
4,4197,https://ph.linkedin.com/jobs/view/platform-eng...,Shape Construction,Platform Engineer / SRE - Remote (Philippines),Philippines,/home/ubuntu/project/feb24_project_job-market/...,https://www.linkedin.com/jobs/view/3776710475/,Asia,"Remote, 100% Salary, Four Days","Terraform, Observability, Cloud, Leadership, C...",Engineering,32,NaN,NaN,3776710475

In [18]:
df_okjob_filtered = df_okjob_filtered.drop('Job-Description', axis=1)
df_okjob_filtered.head()

,Company-ID,LinkedIn-Job-Link,Company-Name,Job-Title,Location,Apply-Link,Region,Job-Type,Job-Tags,Job-Category,Hours,Salary-Min,Salary-Max
0,1810,https://www.linkedin.com/jobs/view/strategic-a...,Signifyd,Strategic Account Executive,USA,https://www.linkedin.com/jobs/view/3762391942/,North America,"Remote,100% Salary, Four Days","eCommerce, SaaS, RiskManagement, SalesStrategy...","Sales & Account Management, Business Development",32,160000,185000
1,1807,https://uk.linkedin.com/jobs/view/account-exec...,Awin Global,Account Executive,"London Area, United Kingdom",https://www.linkedin.com/jobs/view/3752826420/,Europe,"Remote, 100% Salary, Four Days","Affiliate Marketing, Excel, PowerPoint, Accoun...","Sales & Account Management, Marketing",32,\n,\n
2,1759,https://www.linkedin.com/jobs/view/senior-cont...,Close,Senior Content Marketer,United States,https://www.linkedin.com/jobs/view/3763374907/,North America,"Remote, 100% Salary, Four Days","SEO, Content Marketing, CMS, B2B SaaS, Copywri...","Marketing, Writing",32,None,None
3,1759,https://www.linkedin.com/jobs/view/senior-or-s...,Close,Senior or Staff Software Engineer - Backend/Py...,United States,https://www.linkedin.com/jobs/view/3602557784/,North America,"Remote, 100% Salary, Four Days","Python, MongoDB, PostgreSQL, Elasticsearch, AWS","Engineering, Data & Analytics",32,140000,200000
4,1807,https://de.linkedin.com/jobs/view/accountant-g...,Awin Global,Accountant General Ledger / Bilanzbuchhalter,"Berlin, Germany",https://www.linkedin.com/jobs/view/3747055388/,Europe,"Hybrid, 100% Salary, Four Days","IFRS, HGB, MicrosoftD365, Excel, PowerBI","Accounting & Finance, Data & Analytics",32,None,None

In [19]:
df_okjob_filtered['Hours'].unique()

array(['32', '35'], dtype=object)

In [20]:
df_okjob_filtered['Hours'] = df_okjob_filtered['Hours'].astype(int)
df_okjob_filtered['Hours'] = df_okjob_filtered['Hours'].apply(lambda x: "full-time" if x >= 32 else "part-time")
df_okjob_filtered.head()

,Company-ID,LinkedIn-Job-Link,Company-Name,Job-Title,Location,Apply-Link,Region,Job-Type,Job-Tags,Job-Category,Hours,Salary-Min,Salary-Max
0,1810,https://www.linkedin.com/jobs/view/strategic-a...,Signifyd,Strategic Account Executive,USA,https://www.linkedin.com/jobs/view/3762391942/,North America,"Remote,100% Salary, Four Days","eCommerce, SaaS, RiskManagement, SalesStrategy...","Sales & Account Management, Business Development",full-time,160000,185000
1,1807,https://uk.linkedin.com/jobs/view/account-exec...,Awin Global,Account Executive,"London Area, United Kingdom",https://www.linkedin.com/jobs/view/3752826420/,Europe,"Remote, 100% Salary, Four Days","Affiliate Marketing, Excel, PowerPoint, Accoun...","Sales & Account Management, Marketing",full-time,\n,\n
2,1759,https://www.linkedin.com/jobs/view/senior-cont...,Close,Senior Content Marketer,United States,https://www.linkedin.com/jobs/view/3763374907/,North America,"Remote, 100% Salary, Four Days","SEO, Content Marketing, CMS, B2B SaaS, Copywri...","Marketing, Writing",full-time,None,None
3,1759,https://www.linkedin.com/jobs/view/senior-or-s...,Close,Senior or Staff Software Engineer - Backend/Py...,United States,https://www.linkedin.com/jobs/view/3602557784/,North America,"Remote, 100% Salary, Four Days","Python, MongoDB, PostgreSQL, Elasticsearch, AWS","Engineering, Data & Analytics",full-time,140000,200000
4,1807,https://de.linkedin.com/jobs/view/accountant-g...,Awin Global,Accountant General Ledger / Bilanzbuchhalter,"Berlin, Germany",https://www.linkedin.com/jobs/view/3747055388/,Europe,"Hybrid, 100% Salary, Four Days","IFRS, HGB, MicrosoftD365, Excel, PowerBI","Accounting & Finance, Data & Analytics",full-time,None,None

In [21]:
df_okjob_filtered['Job-Type'] = df_okjob_filtered['Job-Type'].str.replace(',\s+', ',', regex=True)
df_okjob_filtered['Job-Type'].unique()

array(['Remote,100% Salary,Four Days', 'Hybrid,100% Salary,Four Days',
       'Remote,Four Days,100% Salary', 'On-site,Four Days,100% Salary'],
      dtype=object)

In [22]:
# Define the keywords for each new column
location_keywords = ['Remote', 'Hybrid', 'On-site']
salary_keywords = ['100% Salary', '80% Salary']
days_keywords = ['Four Days', 'Five Days']

# Function to assign each part of the split value to the correct new column
def assign_to_columns(detail):
    terms = detail.split(',')
    location = salary = days = None  # Initialize as None or as 'Unknown'
    
    for term in terms:
        if term in location_keywords:
            location = term
        elif term in salary_keywords:
            salary = term
        elif term in days_keywords:
            days = term
            
    return pd.Series([location, salary, days])

# Apply the function to the 'details' column
df_okjob_filtered[['Work-Model', 'Salary', 'Days']] = df_okjob_filtered['Job-Type'].apply(assign_to_columns)
df_okjob_filtered = df_okjob_filtered.drop(['Job-Type'], axis=1)
df_okjob_filtered.head()

,Company-ID,LinkedIn-Job-Link,Company-Name,Job-Title,Location,Apply-Link,Region,Job-Tags,Job-Category,Hours,Salary-Min,Salary-Max,Work-Model,Salary,Days
0,1810,https://www.linkedin.com/jobs/view/strategic-a...,Signifyd,Strategic Account Executive,USA,https://www.linkedin.com/jobs/view/3762391942/,North America,"eCommerce, SaaS, RiskManagement, SalesStrategy...","Sales & Account Management, Business Development",full-time,160000,185000,Remote,100% Salary,Four Days
1,1807,https://uk.linkedin.com/jobs/view/account-exec...,Awin Global,Account Executive,"London Area, United Kingdom",https://www.linkedin.com/jobs/view/3752826420/,Europe,"Affiliate Marketing, Excel, PowerPoint, Accoun...","Sales & Account Management, Marketing",full-time,\n,\n,Remote,100% Salary,Four Days
2,1759,https://www.linkedin.com/jobs/view/senior-cont...,Close,Senior Content Marketer,United States,https://www.linkedin.com/jobs/view/3763374907/,North America,"SEO, Content Marketing, CMS, B2B SaaS, Copywri...","Marketing, Writing",full-time,None,None,Remote,100% Salary,Four Days
3,1759,https://www.linkedin.com/jobs/view/senior-or-s...,Close,Senior or Staff Software Engineer - Backend/Py...,United States,https://www.linkedin.com/jobs/view/3602557784/,North America,"Python, MongoDB, PostgreSQL, Elasticsearch, AWS","Engineering, Data & Analytics",full-time,140000,200000,Remote,100% Salary,Four Days
4,1807,https://de.linkedin.com/jobs/view/accountant-g...,Awin Global,Accountant General Ledger / Bilanzbuchhalter,"Berlin, Germany",https://www.linkedin.com/jobs/view/3747055388/,Europe,"IFRS, HGB, MicrosoftD365, Excel, PowerBI","Accounting & Finance, Data & Analytics",full-time,None,None,Hybrid,100% Salary,Four Days

In [23]:
df_okjob_filtered = df_okjob_filtered.drop(['Apply-Link'], axis=1)

In [24]:
df_okjob_filtered['Location'].unique()

array(['USA', 'London Area, United Kingdom', 'United States',
       'Berlin, Germany', 'Milan, Lombardy, Italy', 'Denver, CO',
       'Vancouver, BC', 'Philippines', 'Philadelphia, PA',
       'Los Angeles, CA', 'Sacramento, CA', 'Irvine, CA', 'Chicago, IL',
       'Los Angeles Metropolitan Area', 'New Zealand',
       'Linz, Upper Austria, Austria'], dtype=object)

In [9]:
from geopy.geocoders import Nominatim

def get_country_code(location_string):
    geolocator = Nominatim(user_agent="feb24_project_job-market")
    location = geolocator.geocode(location_string)
    if location:        
        return location.raw['display_name'].split(', ')[-1].upper()
    else:
        return None

# Example usage
print(get_country_code("London, United Kingdom"))  
print(get_country_code("Berlin, Germany"))  
print(get_country_code("Philadelphia, PA"))
print(get_country_code("USA"))

UNITED KINGDOM
DEUTSCHLAND
UNITED STATES
UNITED STATES

In [10]:
df_okjob_filtered['Parsed-Country'] = df_okjob_filtered['Location'].apply(lambda x: get_country_code(x))

In [23]:
display(df_okjob_filtered.head(5))

,Company-ID,LinkedIn-Job-Link,Company-Name,Job-Title,Location,Region,Job-Tags,Job-Category,Hours,Salary-Min,Salary-Max,Work-Model,Salary,Days,Parsed-Country,Job-Level
0,1810,https://www.linkedin.com/jobs/view/strategic-a...,Signifyd,Strategic Account Executive,USA,North America,"eCommerce, SaaS, RiskManagement, SalesStrategy...","Sales & Account Management, Business Development",full-time,160000,185000,Remote,100% Salary,Four Days,UNITED STATES,Senior
1,1807,https://uk.linkedin.com/jobs/view/account-exec...,Awin Global,Account Executive,"London Area, United Kingdom",Europe,"Affiliate Marketing, Excel, PowerPoint, Accoun...","Sales & Account Management, Marketing",full-time,\n,\n,Remote,100% Salary,Four Days,UNITED KINGDOM,Any
2,1759,https://www.linkedin.com/jobs/view/senior-cont...,Close,Senior Content Marketer,United States,North America,"SEO, Content Marketing, CMS, B2B SaaS, Copywri...","Marketing, Writing",full-time,None,None,Remote,100% Salary,Four Days,UNITED STATES,Senior
3,1759,https://www.linkedin.com/jobs/view/senior-or-s...,Close,Senior or Staff Software Engineer - Backend/Py...,United States,North America,"Python, MongoDB, PostgreSQL, Elasticsearch, AWS","Engineering, Data & Analytics",full-time,140000,200000,Remote,100% Salary,Four Days,UNITED STATES,Senior
4,1807,https://de.linkedin.com/jobs/view/accountant-g...,Awin Global,Accountant General Ledger / Bilanzbuchhalter,"Berlin, Germany",Europe,"IFRS, HGB, MicrosoftD365, Excel, PowerBI","Accounting & Finance, Data & Analytics",full-time,None,None,Hybrid,100% Salary,Four Days,DEUTSCHLAND,Any

What is the difference between engineer and staff engineer?

- These people are typically called Staff Engineers (also Lead Engineers, or Principal Engineers, depending on the organization). The staff engineer is typically the same job level as an engineering manager, and is typically one level higher than the “career level” of an engineer.

In [25]:
import spacy

# Load the pre-trained model
nlp = spacy.load('en_core_web_sm') # Or 'en_core_web_lg' for more accuracy but larger size      

# Categorize job titles
def categorize_title(job_title):
    doc = nlp(job_title)
    # List of keywords (lemmas) to look for
    keywords = ['strategic', 'principal', 'staff', 'lead', 'senior', 'head']
    # Check if any token's lemma is in our keywords list
    if any(token.lemma_.lower() in keywords for token in doc):
        return 'Senior'
    else:
        return 'Any'

# Apply the function to create a new column
df_okjob_filtered['Job-Level'] = df_okjob_filtered['Job-Title'].apply(categorize_title)

In [26]:
display(df_okjob_filtered[['Job-Level', 'Job-Title']])

   Job-Level                                          Job-Title
0     Senior                        Strategic Account Executive
1        Any                                  Account Executive
2     Senior                            Senior Content Marketer
3     Senior  Senior or Staff Software Engineer - Backend/Py...
4        Any       Accountant General Ledger / Bilanzbuchhalter
5        Any                       Retention and Growth Manager
6        Any                            Client Services Manager
7     Senior                           Staff Front End Engineer
8        Any     Platform Engineer / SRE - Remote (Philippines)
9        Any                         Architectural Draftsperson
10       Any    Architectural Commercial Technical Draftsperson
11       Any                          Architectural Job Captain
12       Any              Architectural Residential Job Captain
13       Any              Architectural Residential Job Captain
14       Any          Architectural Residential Project Manager
15       Any                                 SEO Content Writer
16    Senior                                 Head of Accounting
17       Any                                         SEO Expert
18    Senior                       Senior Product Owner/Manager

In [27]:
# Function to remove specified keywords from a job title
def remove_keywords_from_title(job_title):
    doc = nlp(job_title)
    # List of keywords (lemmas) to look for
    keywords = ['strategic', 'principal', 'staff', 'lead', 'senior', 'or']
    # Rebuild the title excluding tokens that match our keywords list
    filtered_tokens = [token.text for token in doc if token.lemma_.lower() not in keywords]
    # Reconstruct the job title and return it
    return ' '.join(filtered_tokens)

df_okjob_filtered['Short_Title'] = df_okjob_filtered['Job-Title'].apply(remove_keywords_from_title)

In [28]:
df_okjob_filtered[['Job-Level', 'Job-Title', 'Short_Title']]

,Job-Level,Job-Title,Short_Title
0,Senior,Strategic Account Executive,Account Executive
1,Any,Account Executive,Account Executive
2,Senior,Senior Content Marketer,Content Marketer
3,Senior,Senior or Staff Software Engineer - Backend/Py...,Software Engineer - Backend / Python
4,Any,Accountant General Ledger / Bilanzbuchhalter,Accountant General Ledger / Bilanzbuchhalter
5,Any,Retention and Growth Manager,Retention and Growth Manager
6,Any,Client Services Manager,Client Services Manager
7,Senior,Staff Front End Engineer,Front End Engineer
8,Any,Platform Engineer / SRE - Remote (Philippines),Platform Engineer / SRE - Remote ( Philippines )
9,Any,Architectural Draftsperson,Architectural Draftsperson
10,Any,Architectural Commercial Technical Draftsperson,Architectural Commercial Technical Draftsperson
11,Any,Architectural Job Captain,Architectural Job Captain
12,Any,Architectural Residential Job Captain,Architectural Residential Job Captain
13,Any,Architectural Residential Job Captain,Architectural Residential Job Captain
14,Any,Architectural Residential Project Manager,Architectural Residential Project Manager
15,Any,SEO Content Writer,SEO Content Writer
16,Senior,Head of Accounting,Head of Accounting
17,Any,SEO Expert,SEO Expert
18,Senior,Senior Product Owner/Manager,Product Owner / Manager

In [29]:
df_okjob_filtered['Job-Category']

0      Sales & Account Management, Business Development
1                 Sales & Account Management, Marketing
2                                    Marketing, Writing
3                         Engineering, Data & Analytics
4                Accounting & Finance, Data & Analytics
5      Sales & Account Management, Business Development
6                           Marketing, Customer Support
7                                           Engineering
8                                           Engineering
9                                  Architecture, Design
10                            Architecture, Engineering
11                            Architecture, Engineering
12                                 Architecture, Design
13                                 Architecture, Design
14                     Architecture, Project Management
15                                   Marketing, Writing
16    Accounting & Finance, Administration & Facilities
17                                            Marketing
18                          Product, Project Management
Name: Job-Category, dtype: object

Many of the values repeat, The best approach here might be to leave it as is and use encoding to turn every value in its own column.

In [30]:
df_okjob_filtered = df_okjob_filtered.replace(',\s*', '|', regex=True)

In [31]:
df_okjob_filtered.head()

,Company-ID,LinkedIn-Job-Link,Company-Name,Job-Title,Location,Region,Job-Tags,Job-Category,Hours,Salary-Min,Salary-Max,Work-Model,Salary,Days,Job-Level,Short_Title
0,1810,https://www.linkedin.com/jobs/view/strategic-a...,Signifyd,Strategic Account Executive,USA,North America,eCommerce|SaaS|RiskManagement|SalesStrategy|Bu...,Sales & Account Management|Business Development,full-time,160000,185000,Remote,100% Salary,Four Days,Senior,Account Executive
1,1807,https://uk.linkedin.com/jobs/view/account-exec...,Awin Global,Account Executive,London Area|United Kingdom,Europe,Affiliate Marketing|Excel|PowerPoint|Account M...,Sales & Account Management|Marketing,full-time,\n,\n,Remote,100% Salary,Four Days,Any,Account Executive
2,1759,https://www.linkedin.com/jobs/view/senior-cont...,Close,Senior Content Marketer,United States,North America,SEO|Content Marketing|CMS|B2B SaaS|Copywriting,Marketing|Writing,full-time,None,None,Remote,100% Salary,Four Days,Senior,Content Marketer
3,1759,https://www.linkedin.com/jobs/view/senior-or-s...,Close,Senior or Staff Software Engineer - Backend/Py...,United States,North America,Python|MongoDB|PostgreSQL|Elasticsearch|AWS,Engineering|Data & Analytics,full-time,140000,200000,Remote,100% Salary,Four Days,Senior,Software Engineer - Backend / Python
4,1807,https://de.linkedin.com/jobs/view/accountant-g...,Awin Global,Accountant General Ledger / Bilanzbuchhalter,Berlin|Germany,Europe,IFRS|HGB|MicrosoftD365|Excel|PowerBI,Accounting & Finance|Data & Analytics,full-time,None,None,Hybrid,100% Salary,Four Days,Any,Accountant General Ledger / Bilanzbuchhalter