In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
from sklearn.model_selection import train_test_split
from sklearn.compose import ColumnTransformer
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import OneHotEncoder
from sklearn.linear_model import LinearRegression

In [2]:
df = pd.read_csv('reed_dataset_for_Yue.csv')

In [3]:
df.head()

,jobTitle,locationName,minimumSalary,maximumSalary,currency,jobDescription,salaryPeriod,minimumSalary_yearly,maximumSalary_yearly,jobLevel,jobSkills,jobSite,strippedTitle,jobCategory
0,Data Entry,NR104JJ,10.0,10.0,GBP,Are you looking for work starting from 10th Oc...,per hour,20800.0,20800.0,Any,None,None,Data entry,data administrator
1,Data Entry Administrator - Remote,Milton Keynes,10.0,11.0,GBP,Title: Data Entry Administrator Location: Milt...,per hour,20800.0,22880.0,Any,None,Remote,Data entry administrator -,data administrator
2,Data Entry Administrator - Remote,Milton Keynes,10.0,11.0,GBP,Title: Data Entry Administrator Location: Milt...,per hour,20800.0,22880.0,Any,None,Remote,Data entry administrator -,data administrator
3,Data Entry Administrator - Remote,Milton Keynes,10.0,11.0,GBP,Title: Data Entry Administrator Location: Milt...,per hour,20800.0,22880.0,Any,None,Remote,Data entry administrator -,data administrator
4,Data Entry,NR104JJ,10.0,10.0,GBP,Are you looking for work starting from 10th Oc...,per hour,20800.0,20800.0,Any,None,None,Data entry,data administrator

In [4]:
df = df[['jobCategory', 'minimumSalary_yearly', 'maximumSalary_yearly', 'jobLevel','jobSkills']]
df = df.drop_duplicates()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 673 entries, 0 to 7764
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   jobCategory           673 non-null    object
 1   minimumSalary_yearly  673 non-null    float64
 2   maximumSalary_yearly  673 non-null    float64
 3   jobLevel              673 non-null    object
 4   jobSkills             673 non-null    object
dtypes: float64(2), object(3)
memory usage: 23.7+ KB

In [5]:
y1 = df['minimumSalary_yearly']
X1 = df.drop(['minimumSalary_yearly', 'maximumSalary_yearly'], axis=1)
X1_train, X1_test, y1_train, y1_test = train_test_split(X1, y1, test_size=0.2, random_state=48)

In [6]:
print(X1_train.columns)
print(X1_test.columns)

Index(['jobCategory', 'jobLevel', 'jobSkills'], dtype='object')
Index(['jobCategory', 'jobLevel', 'jobSkills'], dtype='object')

In [7]:
ohe = OneHotEncoder(sparse=False, handle_unknown='ignore')

In [8]:
print(X1_train.columns)
print(X1_test.columns)

Index(['jobCategory', 'jobLevel', 'jobSkills'], dtype='object')
Index(['jobCategory', 'jobLevel', 'jobSkills'], dtype='object')

In [13]:
X1_train.head()

,jobCategory_data administrator,jobCategory_data analyst,jobCategory_data architect,jobCategory_data center,jobCategory_data engineer,jobCategory_data scientist,jobCategory_data test,jobCategory_database administrator,jobCategory_manager,jobLevel_Any,...,jobSkills_Salesforce,"jobSkills_Salesforce, CRM","jobSkills_Scrum, Agile, BI",jobSkills_Snowflake,jobSkills_Tableau,"jobSkills_Talend, Azure, Snowflake",jobSkills_agile,jobSkills_excel,"jobSkills_python, AWS",jobSkills_rest
5267,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1678,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1922,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7228,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
883,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
cat1 = ['jobCategory', 'jobLevel', 'jobSkills']
X1_train_transformed = ohe.fit_transform(X1_train[cat1])

# Transform the test data
X1_test_transformed = ohe.transform(X1_test[cat1])

# Convert the transformed data back into dataframes
X1_train_transformed = pd.DataFrame(X1_train_transformed, columns=ohe.get_feature_names_out(cat1), index=X1_train.index)
X1_test_transformed = pd.DataFrame(X1_test_transformed, columns=ohe.get_feature_names_out(cat1), index=X1_test.index)

# Drop the original columns from X1_train and X1_test
X1_train = X1_train.drop(columns=cat1)
X1_test = X1_test.drop(columns=cat1)

X1_train = pd.concat([X1_train, X1_train_transformed], axis=1)
X1_test = pd.concat([X1_test, X1_test_transformed], axis=1)

In [11]:
cl1 = LinearRegression()

cl1.fit(X1_train, y1_train)

LinearRegression()

In [12]:
pred_y1 = cl1.predict(X1_test)
print(pred_y1)

[2.45916579e+17 3.91040000e+04 6.77760000e+04 2.20160000e+04
 2.38720000e+04 3.91040000e+04 3.91040000e+04 7.36640000e+04
 5.04960000e+04 5.16480000e+04 2.45916579e+17 7.26400000e+04
 2.45916579e+17 5.04960000e+04 8.32640000e+04 5.11360000e+04
 7.97440000e+04 6.39360000e+04 2.45916579e+17 2.45916579e+17
 8.00640000e+04 3.40480000e+04 3.91040000e+04 6.00960000e+04
 8.00640000e+04 8.91520000e+04 6.30400000e+04 3.91040000e+04
 5.16480000e+04 3.91040000e+04 5.16480000e+04 2.45916579e+17
 3.91040000e+04 3.91040000e+04 3.91040000e+04 2.45916579e+17
 7.26400000e+04 6.75200000e+04 3.91040000e+04 3.91040000e+04
 3.04000000e+04 5.04960000e+04 4.93440000e+04 2.22720000e+04
 3.91040000e+04 3.91040000e+04 8.03200000e+04 3.91040000e+04
 3.91040000e+04 3.61600000e+04 8.00640000e+04 2.45916579e+17
 5.04960000e+04 3.91040000e+04 6.25280000e+04 6.00960000e+04
 6.30400000e+04 2.47680000e+04 9.22880000e+04 2.45916579e+17
 3.91040000e+04 5.99680000e+04 7.26400000e+04 4.81920000e+04
 6.52160000e+04 3.91040000e+04 6.30400000e+04 6.00960000e+04
 3.91040000e+04 7.26400000e+04 4.93440000e+04 3.91040000e+04
 3.91040000e+04 3.91040000e+04 9.12000000e+04 2.24000000e+04
 3.91040000e+04 3.91040000e+04 5.16480000e+04 2.45916579e+17
 3.91040000e+04 3.91040000e+04 7.97440000e+04 2.96960000e+04
 6.00960000e+04 7.26400000e+04 5.04960000e+04 6.59840000e+04
 3.91040000e+04 4.35840000e+04 3.93600000e+04 6.16960000e+04
 7.26400000e+04 3.91040000e+04 2.45916579e+17 2.45916579e+17
 6.00960000e+04 4.93440000e+04 5.63840000e+04 5.04960000e+04
 3.91040000e+04 3.91040000e+04 6.31680000e+04 2.47680000e+04
 4.80000000e+04 8.62080000e+04 3.91040000e+04 5.16480000e+04
 7.26400000e+04 6.00960000e+04 4.67200000e+04 6.00960000e+04
 2.45916579e+17 5.49760000e+04 3.91040000e+04 5.04960000e+04
 5.11360000e+04 8.64640000e+04 3.91040000e+04 2.45916579e+17
 3.91040000e+04 8.00640000e+04 1.83040000e+04 3.91040000e+04
 2.47680000e+04 3.91040000e+04 5.04960000e+04 5.13280000e+04
 6.30400000e+04 2.09216000e+05 5.04960000e+04 2.47680000e+04
 4.28160000e+04 7.37920000e+04 6.25280000e+04]